@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Time Management Matrix</h4>

    <br />


<div class="row">
	<div class="col-lg-6 col-sm-6">
		<table class="table table-bordered table-hover">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant I: Important / Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
				@* 				<tbody>
				@foreach (var row in Model)
				{

				<tr>
				<td>@row.Category.CategoryName</td>
				<td>@row.Title</td>
				<td>@row.Year</td>
				<td>@row.Director</td>
				<td>@row.Rating</td>
				<td>@row.Edited</td>
				<td>@row.LentTo</td>
				<td>@row.CopiedToPlex</td>
				<td>@row.Notes</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a></td>
				</tr>

				}
				</tbody> *@
	</table>
	</div>

	<br />

	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant II: Important / Not Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
				@* 				<tbody>
				@foreach (var row in Model)
				{

				<tr>
				<td>@row.Category.CategoryName</td>
				<td>@row.Title</td>
				<td>@row.Year</td>
				<td>@row.Director</td>
				<td>@row.Rating</td>
				<td>@row.Edited</td>
				<td>@row.LentTo</td>
				<td>@row.CopiedToPlex</td>
				<td>@row.Notes</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a></td>
				</tr>

				}
				</tbody> *@
	</table>
	</div>
</div>

	<br />

<div class="row">
	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant III: Not Important / Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
				@* 				<tbody>
				@foreach (var row in Model)
				{

				<tr>
				<td>@row.Category.CategoryName</td>
				<td>@row.Title</td>
				<td>@row.Year</td>
				<td>@row.Director</td>
				<td>@row.Rating</td>
				<td>@row.Edited</td>
				<td>@row.LentTo</td>
				<td>@row.CopiedToPlex</td>
				<td>@row.Notes</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a></td>
				</tr>

				}
				</tbody> *@
	</table>
	</div>

	<br />

	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant IV: Not Important / Not Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
@* 				<tbody>
					@foreach (var row in Model)
					{

						<tr>
							<td>@row.Category.CategoryName</td>
							<td>@row.Title</td>
							<td>@row.Year</td>
							<td>@row.Director</td>
							<td>@row.Rating</td>
							<td>@row.Edited</td>
							<td>@row.LentTo</td>
							<td>@row.CopiedToPlex</td>
							<td>@row.Notes</td>

							<td><a class="btn btn-info" asp-controller="Home" asp-action="Edit">Edit</a></td>
							<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</a></td>
						</tr>

					}
				</tbody> *@
	</table>
	</div>
</div>
</div>