@{
    ViewData["Title"] = "Home Page";
}

@model TaskTemplate

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Time Management Matrix</h4>

    <br />


<div class="row">
	<div class="col-lg-6 col-sm-6">
		<table class="table table-bordered table-hover" id="quad1">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant I: Important / Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model)
				{

				<tr>
				<td>@row.Completed</td>
				<td>@row.TaskName</td>
				<td>@row.DueDate</td>
				<td>@row.Update</td>
				<td>@row.Delete</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.TaskId">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
				</tr>

				}
		</tbody>
	</table>
	</div>

	<br />

	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover" id="quad2">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant II: Important / Not Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model)
				{

				<tr>
				<td>@row.Completed</td>
				<td>@row.TaskName</td>
				<td>@row.DueDate</td>
				<td>@row.Update</td>
				<td>@row.Delete</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.TaskId">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
				</tr>

				}
		</tbody>
	</table>
	</div>
</div>

	<br />

<div class="row">
	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover" id="quad3">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant III: Not Important / Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model)
				{

				<tr>
				<td>@row.Completed</td>
				<td>@row.TaskName</td>
				<td>@row.DueDate</td>
				<td>@row.Update</td>
				<td>@row.Delete</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.TaskId">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
				</tr>

				}
		</tbody> 
	</table>
	</div>

	<br />

	<div class="col-lg-6 col-sm-6">
	<table class="table table-bordered table-hover" id="quad4">
		<thead class="thead-light">
			<tr>
				<th colspan="5">Quadrant IV: Not Important / Not Urgent</th>
			</tr>
			<tr>
				<th>Completed</th>
				<th>Task</th>
				<th>Due Date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model)
				{

				<tr>
				<td>@row.Completed</td>
				<td>@row.TaskName</td>
				<td>@row.DueDate</td>
				<td>@row.Update</td>
				<td>@row.Delete</td>

				<td><a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@row.TaskId">Edit</a></td>
				<td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.TaskId">Delete</a></td>
				</tr>

				}
		</tbody>
	</table>
	</div>
</div>
</div>